sudo: false
language: scala
scala:
  - 2.11.11
  - 2.12.2
jdk:
- oraclejdk8
cache:
  directories:
  - "$HOME/.m2/repository"
  - "$HOME/.sbt"
  - "$HOME/.ivy2"
script:
# will look like the following:
# [info] Written Cobertura report [.../reactive-ldap/target/scala-2.12/coverage-report/cobertura.xml]
# [info] Written XML coverage report [.../reactive-ldap/target/scala-2.12/scoverage-report/scoverage.xml]
# [info] Written HTML coverage report [.../reactive-ldap/target/scala-2.12/scoverage-report/index.html]  
- sbt ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport
after_success:
- sbt ++$TRAVIS_SCALA_VERSION coveralls
before_cache:
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
- find $HOME/.sbt        -name "*.lock"               -print -delete
